<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <property name="pattern">[%d{HH:mm:ss}] %-5p - %m%n</property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern}"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="org.springframework" level="ERROR"/>
        <Logger name="com.broit.task" level="all" additivity="false"/>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>